@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  /* color: #968c97; */
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-rendering: optimizeLegibility;}

.img-body-login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(88, 84, 84, 0.7)), url(../../resources/img/background/bg3.jpg);
  background-size: cover;
  background-position: center; }

.img-main-header {
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.61), rgba(255, 255, 255, 0.589)), url(../../resources/img/background/bgHeaderMain.jpg); */
  background-image: linear-gradient(rgba(255, 255, 255, 0.815), rgba(255, 255, 255, 0.753)), url(../../resources/img/background/bgHeaderMain.jpg); 
  background-size: cover;
  background-position: center; 
  height: 398px;
}

.btn-login {
  width: 100%; }

.hr-login {
  width: 50%; }

.texto-input-login {
  font-size: 14px; }

.texto-login-alternativo {
  font-size: 14px;
  font-style: normal; }

.texto-login-alternativo a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.63); }

.texto-esqueceu-senha {
  font-size: 14px;
  font-weight: bold; }

.texto-esqueceu-senha a {
  text-decoration: none;
  color: rgba(15, 14, 14, 0.466);
  font-weight: bold; }

.logo {
  width: 50%;
  height: 100px;
  object-fit: cover;
  object-position: center; }

.texto-logo {
  color: rgba(49, 49, 51, 0.808);
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 25px; }

.card-login {
  background-color: #ffffffa8;
  width: 340px;
}

.texto-cadastrar {
  color: rgba(223, 217, 217, 0.884);
  font-size: 22px; }

.texto-footer-login {
  font-size: 13px;
  font-weight: bold;
  margin-top: 160px;
  text-decoration: none;
  text-transform: uppercase; }

.texto-footer-login a {
  color: #ffffffa9; }

#fullpage {
  height: 100vh;
  overflow: hidden; }

#fullpage section {
  height: 100vh; }

#fullpage section:nth-child(2) h1 {
  text-transform: uppercase;  
  font-size: 24px;
}

#fullpage section:nth-child(2) {
  background-image: linear-gradient(rgba(65, 62, 62, 0.808), rgba(90, 81, 81, 0.7)), url(../../resources/img/background/bg5.jpg);
  background-size: cover;
  background-position: center;
}

.formposition{
  margin-top: 140px;
}

/* Cor dos links */
.color-link{
  color: aliceblue;
  font-weight: bold;
}

nav li a:hover{
  color: rgb(73, 148, 185);
}

#navDrop:hover{
    color: rgb(252, 230, 195);
}

/* Cor background principal do site */
.main-bg-color-1{
  /* background-color: rgb(42, 91, 146); */
  background-color: rgb(45, 65, 88);
  /* background-color: rgb(58, 62, 66);  */
}

.main-text-style-1{
  color:white;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Bree Serif', serif;
}

.main-text-style-2{
  color:rgb(23, 104, 180); 
  font-weight: bold;
  font-size: 42px;
  font-family: 'Bree Serif', serif;
}